<div class="container">
  <div class="row">
    <div class="col">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Mabel Egbirika</h1>
          <p class="lead">Software Developement Intern at Kalkomey Enterprises 2020</p>
         <a class="btn btn-dark mb-3" href="https://www.linkedin.com/in/mabel-egbirika-8a82b41b1/" class="card-link">Follow me on LinkedIn</a>
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
           </ol>
           <div class="carousel-inner">
             <div class="carousel-item active">
               <div class="card text-white bg-success mb-3"">
                 <div class="card-header"><h4>About Me</h4></div>
                 <div class="card-body">
                   <p class="card-text">Hello! My name is Mabel Egbirika. I orginally grew up in Sanit Louis, Missouri but I moved to Texas 7 years ago. I currently live in Mckinney, Texas. I am going to be a freshman at the Univeristy of Texas at Austin and will be studying Computer Science. I did a software devlopment internship at Kalkomey Enterprises this summer!</p>
                 </div>
               </div>
             </div>
             <div class="carousel-item">
               <div class="card text-white bg-success mb-3">
                 <div class="card-header"><h4>My Interest in Computer Science</h4></div>
                 <div class="card-body">
                   <p class="card-text">For as long as I can remember, I’ve always been fascinated with software. While some kids have a favorite doll or toy car, my pink Barbie computer was the toy that would accompany me wherever I went. I remember spending hours playing and carefully analyzing each game until I mastered each and every mechanic. When I discovered the degree of Computer Science in middle school, I was elated. I began to utilize free resources such as Khan Academy and Code Academy to teach myself Java, Javascript, and HTML. Computer science combines math, problem-solving, creativity, and innovation to develop technology that can serve a variety of purposes. From medicine to robotics to entertainment, computer science can be used to impact almost every aspect of our society. As technology is progressing, computer science has become the backbone of the Digital Age. Throughout high school, I’ve taken every Computer Science class my school has offered and have spent countless hours studying for the Oracle Certified Associate Java SE 8 Programming Ⅰ certification. With each course, I become more affirmed that Computer Science is the career that I want to pursue. This year, Last year, I took both Video Game Programming and Mobile Application Programming. These specialized classes have helped me condense my interests and understand the path I want to take within Computer Science. I aspire to become a Game Developer for a top game publisher and lead the next generation of influential games.</p>
                 </div>
               </div>
              </div>
             <div class="carousel-item">
               <div class="card text-white bg-success mb-3">
                 <div class="card-header"><h4>My Hobbies</h4></div>
                 <div class="card-body">
                   <p class="card-text">One of my biggest hobbies is gaming. I've played video games since I was 4 years old. I like playing MMOs, MOBAs, and console games. Some of my favorite games are League of Legends, Aion, and Red Dead Redemption. Another big hobby I have is reading. I love reading because when you read, it's almost like you are transported to another world. The genres I like to read are fantasy and romance. My favorite book is the Lunar Chronicles by Marissa Meyers. My other hobbies are writing, playing the violin, crocheting, drawing, making polymer clay charms, and watching shows. </p>
                 </div>
               </div>
              </div>
           </div>
           <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
           </div>
           </div>

        </div>

      </div>


    </div>
  </div>
</div>
</div>
</div>
