<div class="container">
  <div class="jumbotron" style = "background-color:#f7f7f7">
    <div class="row">
      <div class="col">

        <h1 class="display-4">Zirou Zhang</h1>
        <hr class="my-4">
        <p>
          Hello everyone! My name is Zirou Zhang but you can call me Sophie. I am currently a senior at HHS and I interned
          at Kalkomey the summer of 2020. I hope you guys like this website!
        </p>
        <p class="lead">
          <a class="btn btn-dark" href="https://www.linkedin.com/in/zirou-zhang-3082b21b1/" role="button">Follow my LinkedIn!</a>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron" style = "background-color:#fceeed">
          <h3 class="display-10">About Me</h3>
            <hr class="my-4">
            <p>
              Hmmmm, I am not a very interesting person but I did move from China to the US when I was 8 years old!
              Coming from there, I would like to say that this move has helped me grow into someone who's very stubborn (in a good way).
              When facing a problem, I always want to get to the bottom of it and understand why it works the way it does. In addition
              to this, I am also very open-minded. I always try my best to look at 2 sides of the same problem and if there is more than
              1 approach to an issue, I will be more than happy to discuss the options with others. However, I do tend to get frustrated
              a lot when I don't figure something out quickly. But, after going through this internship, I have definitely improved
              on that patience aspect. Hopefully one day, I will be able to get rid of that problem entirely.
            </p>
          </div>

        </div>
      </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron" style = "background-color:#fceeed">
          <h3 class="display-10">Why Did I Choose CS?</h3>
            <hr class="my-4">
            <p>
              To be completely honest, when I started computer science in my freshman year of high school, I didn't really like it.
              The problem-solving aspect of that class as well as the logic required to think through each and every detail of a question
              really wore me out. Previously, I was conditioned to think that if I am not good at something immediately, I should give up.
              What truly changed my attitude about computer science had to be this lecture that my dad gave me in the beginning
              of my junior year. He told me that it doesn't matter if you can't solve a problem quickly. What matters is the experience and the things
              you learned along the way to reach the solution. From that point on, I would try to look for answers myself and think about the various approaches
              I can have to a problem. The challenging nature of computer science is perfect for exercising my thought process and
              of course, I gradually began falling in love with it. As I got more and more immersed in the tech world, I realized just how massive
              the impact computer science can have on humanity and the world today. To me, CS seems like the perfect opportunity now
              to not only improve myself, but to also help other people.
            </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron" style = "background-color:#fceeed">
          <h3 class="display-10">My Hobbies</h3>
            <hr class="my-4">
            <p>
              This may seem weird, but I love watching film analysis videos on Youtube in my freetime. Something about the way
              that you can communicate such deep themes in a 1 - 3 hour work has always fascinated me. Plus, it's always good
              to see the worldviews of other people, whether it's communicated through the interpretations of actors or through
              the directors themselves. When I am not busy binge-watching Youtube, you can find me reading several
              Chinese novels such as Kino's Journey. (I heavily, heavily recommend this series.) This not only keeps my Chinese sharp,
              but it also acts as a stress reliever for me. I also LOVE puzzles, especially the 3D wooden block ones (I spent 5 hours
              on 1 puzzle once and I still haven't figured it out.) Especially after going into computer science, my interest (or obsession)
              for these puzzles have increased exponentially to the point where I can just focus on them all day (which is
              probably unhealthy).
            </p>

        </div>
      </div>

    </div>
  </div>
</div>
