<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"><%= 'Edit ' + @animal.name %></div>
        <div class="card-body">
          <%= render partial: "form", locals: {post: @animal, cancel_url: animal_path} %>

        </div>
      </div>
    </div>
  </div>
</div>
