<ul>
  <%= link_to 'New Animal', new_animal_path, class: 'btn btn-dark' %>
  <% @animals.each do |animal| %>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <li>Name: <%= link_to animal.name, animal_path(animal)  %></li>
        </div>
        <div class="col-sm">
          State: <%=animal.state%>
        </div>
        <div class="col-sm">
          Category: <%=animal.category %>
        </div>
      </div>
  </div>
  <% end %>
</ul>
