<div class="container">
  <div class="row">
    <div class="col">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Ramya Namuduri</h1>
          <p class="lead">Intern Developer 2020</p>
         <a class="btn btn-dark mb-3" href="https://www.linkedin.com/in/namuduri-ramya" class="card-link">Follow me on LinkedIn</a>
          <div class = "row">
          <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-header">A Bit About Me</h5>
                <p class="card-text abt-card-hover abt-card-normal">I am a determined individual with dreams as fluffy as the clouds.
                I want to study Computer Science and continue using my programming skills to help those around me. My
                immense passion for cracking puzzles and asking questions has developed my undying love for CS, math and science. Regardless
                of what happens in the future, I truly hope that I will be able to make a change, however small, in this beautiful yet complicated world.
              </p>
              </div>
            </div>
          </div>

          <div class="col">
          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-header">Why I Love CS</h5>
              <p class="card-text abt-card-hover abt-card-normal">A cup of coffee, my favorite playlist, and a challenging problem are all I need.
              To me, programming is like a friend that does all the hard work for you. It's often frustrating (when it doesn't work) but it's a
              work of art when it does. It constantly keeps me on my toes, and has me thinking about how really to best solve a challenge (it's like finding a nonexistant needle in a haystack). The
              satisfaction behind every milestone reached inspires me to do more, and it's just an infinite loop from there.</p>
            </div>
          </div>
          </div>

          <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-header">When I'm not Working...</h5>
                <p class="card-text abt-card-hover abt-card-normal">I spend lots of time with my family and friends. I'm also an Indian classical
                Vocalist and learn Bharatanatyam (Indian classical dance). Sometimes, I build random apps or attend coding contests (my favorite).
                I truly enjoy a good book in a cozy nook, and occasionally, I blog. I really love storytelling and writing, so blogging makes the
                best mix of the two. When I can (not now), I really like travelling and learning about different cultures (languages especially).</p>
              </div>
            </div>
          </div>
        </div>

        </div>

      </div>


    </div>
  </div>
</div>
